<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fastsocket_base" version="1.0.0.1" targetFramework="net4" />
  <package id="fastsocket_client" version="1.0.0.1" targetFramework="net4" />
  <package id="Google.ProtocolBuffers" version="2.4.1.555" targetFramework="net4" />
</packages>